.ore {
  position: relative;
  display: inline-block;
  flex: none;
  aspect-ratio: 1;
  line-height: 0;
}

.compact {
  width: 112px;
}

.large {
  width: 140px;
}

.image,
.fortification {
  position: absolute;
  width: 100%;
  inset: 0;
}

.image {
  z-index: 1;
}

.fortification {
  z-index: 2;
}

.underUnitSelection {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 84.2857%;
  aspect-ratio: 1;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.compact .underUnitSelection {
  width: 80.3571%;
}
