.image {
  border-radius: 3px;
}

.compact {
  width: 75px;
}

.regular {
  width: 150px;
}

.large,
.responsive {
  width: 200px;
}

.mobileArtwork {
  display: none;
}

@media (width <= 620px) {
  .desktopArtwork {
    display: none;
  }

  .mobileArtwork {
    width: 150px;
    display: block;
  }
}
