.selection {
  width: 100%;
  min-width: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 20px 18px;
  justify-content: center;
}

.cards[data-disabled='true'] {
  opacity: 0.65;
}

@media (width <= 1220px) {
  .cards {
    grid-template-columns: repeat(4, 200px);
  }
}

@media (width <= 1000px) {
  .cards {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (width <= 780px) {
  .cards {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (width <= 620px) {
  .cards {
    grid-template-columns: repeat(2, 131px);
    gap: 14px 10px;
  }
}

@media (width <= 374px) {
  .cards {
    grid-template-columns: 131px;
  }
}
